{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<li><article lang="{{ post.lang | default: site.lang }}">
    <ul class="post-meta">
      <li><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format | replace: ', 00:00','' }}
      </time></li>
      {%- if page.author -%}
        <li itemprop="author" itemscope
		itemtype="http://schema.org/Person"
		><span class="p-author h-card" itemprop="name"
		       >{{ page.author }}</span></li>
      {%- endif -%}
      {%- for tag in page.tags -%}
        <li class="tag"><a class="tag" href="{{ '/by-category' | relative_url }}#{{ tag | slugify:'latin' }}">{{ tag }}</a></li>
      {%- endfor -%}
    </ul>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
    {{ post.excerpt }}
    {% if post.excerpt.size < post.content.size %}
			      <a class="readmore"
				 href="{{ post.url | relative_url }}"
				 >…</a>
			      {% endif %}
			      {%- endif -%}
  </article>
</li>
